.main{
	width: 500px;
	margin: 0px;
	text-align: center;
	border: 4px solid #3e3e3e;
}

h3{
	background-color: #5c8297;
	color:white; 
}

.addItem{
	position: relative;
	padding: 0px;
	height: 30px;
}
.addItem{
	position: relative;
	padding: 0px;
	height: 30px;
}

span {
	cursor: pointer;
	position: relative;
	float: right;
	margin-right: 20px;
}


li {
	color: white;
	height: 30px
}
ul {
	background-color: green
}

.container{
	display: block;
	position: relative;
	max-width: 640px;
	background: #f4f4f4;
	font: 15px;
}
input,select {
	display: inline-block;
	color: #3f3f3f;
	width: 100%;
}

